@import "tailwindcss";

@theme inline {
  --color-background: 8 13 23;
  --color-background-2: #102533;
  --color-background-3: #0E2532;
  --color-background-4: #0D1323;
  --color-background-5: #10192D;
  --color-background-6: #0B121F;

  --color-foreground-1: #182544;
  --color-foreground-2: #157A8E;

  --color-primary-1: #06E1FF;
  --color-primary-2: #18CEFF;
  --color-primary-3: #3FA9FF;
  --color-primary-4: #030047;

  --color-secondary-1: #080C16;

  --color-tertiary-1: #9B56FF;

  --color-white-1: #FFFFFF;
  --color-white-2: #F5F5F5;

  --color-primary-font: #A3B0C1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: rgb(var(--color-background));
  color: var(--color-primary-font);
}

.section-content {
  width: 80%;
  display: flex;
  justify-content: center;
}