@import "tailwindcss";


@theme inline {
  --color-background: #F5F5F5;
  --color-foreground: #171717;

  --color-primary-1: #000084;
  --color-primary-2: #0401A2;
  --color-primary-3: #0702C0;
  --color-primary-4: #0B03DE;
  --color-primary-5: #0F04FC;

  --color-secondary-1: #F5F5F5;
  --color-secondary-2: #EBEBEB;
  --color-secondary-3: #DEDEDE;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}