@import "tailwindcss";


@theme inline {
  --color-background: #080C16;
  --color-background-2: #102533;
  --color-foreground: #182544;

  --color-primary-1: #06E1FF;
  --color-primary-2: #18CEFF;
  --color-primary-3: #3FA9FF;
  --color-primary-4: #030047;


  --color-secondary-1: #080D17;

  --color-tertiary-1: #9B56FF;

  --color-white-1: #FFFFFF;
  --color-white-2: #F5F5F5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section-content {
  width: 80%;
  display: flex;
  justify-content: center;
}